{% extends 'base.html.twig' %}
{% block body %}


	<style>
	.btn-mdp {color: white; background-color : red; border-radius: 6px; padding: 6px 10px; border: none; transition: background-color 0.2s ease-in-out;}
	.btn-mdp:hover {background-color: white; color: red;}
	</style>
	{% if errors %}
		<div class="alert alert-danger">
			Identifiant incorrect
		</div>
	{% endif %}

	<center style="margin-left: 35%; margin-right: 35%; margin-top: 5%">
		<form action="{{ path('app_login') }}" method="post">
			<div class="mb-3">
				<label for="login" class="form-label">Email
				</label>
				<input type="email" class="form-control" id="login" name="_username" value="{{ last_username }}">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input class="form-control" id="password" name="_password"></input>
		</div>
		<button type="submit" class="btn btn-primary">Connexion</button>
	</form>
</center>{% endblock %}
